$vars: (
  white: #fff,
  black: #000,
);

$map: (
  gray: (1: #E6E5E5,
    2: #CCCCCC,
    3: '',
    4: #8C8C8C,
    5: #666,
    6: #555,
    7: #444,
    8: #333,
  ),
  warm-gray: (1: #FAF8F6,
    2: '',
    3:#E6E3E0,
    4: #D8CFC6,
    5: '',
    6: #9A8B7D,
    7: '',
    8: '',
  ),
  red: (1: #FFF5F7,
    2: '',
    3: '',
    4: #FF0033,
    5: '',
    6: #B5121B,
    7: #670014,
  ),
  green: (),
  blue: (1: #EFF9FF,
    2: #72CDF4,
    3: '',
    4: #009DDC,
    5: '',
    6: '',
    7: #004966,
  ),
  yellow: (1: #FFFAE9,
    2: #FFF0C5,
    3: #FFDB6E,
    4: #FFCC33,
    5: #F5C430,
    6: #E7AC00,
    7: #BC8D00,
    8: #8D6900,
  ),
);